<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="../vendor/autoload.php"
  backupGlobals="false"
  backupStaticAttributes="false"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  stopOnError="false"
  stopOnFailure="false">
  <testsuites>
    <testsuite name="All">
      <directory suffix=".php">./</directory>
    </testsuite>
  </testsuites>
</phpunit>
